name: Unittests (PR)

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Remove old virtualenv
        run: rm -rf .venv

      - name: Install Poetry
        run: pip install poetry==2.1.4

      - name: Configure Poetry
        run: |
          poetry install --no-interaction --all-groups --no-root

      - name: Run tests
        run: poetry run pytest -v
