name: Unittests (PR)

on:
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Poetry
        run: pip install poetry==1.6.1

      - name: Install dependencies
        run: poetry install --no-interaction --no-root --all-groups

      - name: Run tests
        env:
          PYTHONPATH: ./src
        run: poetry run pytest -v
